@media screen and (min-width: 1921px) {
  
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {

}

@media screen and (min-width: 769px) and (max-width: 1440px) {

}


@media screen and (min-width: 415px) and (max-width: 768px) {
   
}

@media screen and (max-width: 414px) {

}
