*{
    box-sizing: border-box;
}
html, body{
    height: 100%;
}

@font-face {
  font-family: "CarlaSansLight";
  src: url("../fonts/CarlaSansLight.ttf") format("truetype");
  font-style: Light;
  font-weight: Light;
}

p{
    font-family: 'CarlaSansLight';
    text-stroke: 2px hotpink;
}
